<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'app/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'app/css/clean-blog.min.css'%}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">H . MQ</a>
    </div>
</nav>


<form method="post" action="{%url 'register'%}">
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../../static/app/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Register</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--회원가입-->
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <label style="font-weight:bold">회원가입</label>
                <hr>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" name='user_id' class="form-control" placeholder="ID" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" name='user_name' class="form-control" placeholder="이름" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" name='user_pw' class="form-control" placeholder="비밀번호"
                               required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" name='user_confirm_pw' class="form-control" placeholder="비밀번호 확인"
                               required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" id= "email" name='user_email' class="form-control" placeholder="E-mail" required="required">
                    </div>
                </div>
                <hr>
                <br>
                <!--회원가입-->




                <button id='registerok' class="btn btn-dark btn-block">회원가입 완료</button>
                <br><br><br>
            </div>
        </div>
    </div>


    {% csrf_token %}


</form>
<!-- Bootstrap core JavaScript -->
<script src="{% static 'app/vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Custom scripts for this template -->
<script src="{% static 'app/js/clean-blog.min.js'%}"></script>

</body>
<script>
 $('#registerok').click(function() {
        $.ajax({
          url: '/app/register/',
          type: 'post',
          data: $('form').serialize(),
          success: function(res) {
            if(res.result == '가입완료') {
                alert(res.result)
              location = '/app/login/'
            }else{
            alert(res.result)
            }
          }
        })
        return false
      })


var input = document.getElementById("email");

input.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("login").click();
    }
});

</script>
</html>
